
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
    background-image:linear-gradient(120deg, #d14dbb, #16d8df);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
 }

 header{
    font-size: 1rem;
 }

 header,
 form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

 }

 form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    outline: none;
    border-radius: 15px 0px 0px 15px;
 } 
 form button {
    color: #16d8df;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0px 15px 15px 0px;
 }

 form button:hover {
    background-image: linear-gradient(120deg, #d14dbb, #16d8df);
    color: white;
 }

 .todo-container {
   display: flex;
   justify-content: center;
   align-items: center;
 }

.todo-list {
   list-style: none;
   min-width: 30%;
}

.todo {
   background: white;
   margin: 0.5rem;
   color: black;
   font-size: 1.5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: all 0.5s ease;
   border-radius: 15px 15px 15px 15px;
}

.todo li{
   flex: 1;
/* flex-grow: 1; */
}
.todo:hover {
   color: #16d8df;
   box-shadow: 1px 4px 10px 1px;
}

.trash-btn, .complete-btn{
   background:#d44cbefd;
   color: white;
   border: none;
   padding: 1rem;
   cursor: pointer;
   font-size: 1rem;
}

.complete-btn{
   background: rgb(42, 201, 174);
}

.trash-btn{
   border-radius: 0px 15px 15px 0px;
}

.todo-item {
   padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{ 
   pointer-events: none;
}


.completed{
   text-decoration: line-through;
   opacity: 0.5;
}

.fall {
transform: translateY(8rem) rotateZ(20deg);
opacity: 0;
}


select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
   border: none;
}


select{
   color:#16d8df;
   font-family: 'Poppins', sans-serif;
   width: 10rem;
   cursor: pointer;
   padding: 1rem;
   font-size: 1rem;
}


.select {
   margin: 1rem;
   position: relative;
   overflow: hidden;
   border-radius: 15px 15px 15px 15px;
}


.select::after {
   content: '\25BC';
   position: absolute;
   background-image:linear-gradient(120deg, #d14dbb, #16d8df);
   top: 0;
   right: 0;
   padding: 1rem;
   pointer-events: none;
   transition: all 0.3s ease;
}

.select:hover::after {
   background: white;
   color:#16d8df;
   border-radius: 50% 50% 50% 50%;
}